<%- include ('partials/header') %>
>
<div class="container" style="width: 33%;">
<h1 style="text-align: center;">YelpCamp</h1>
<div><h2 style="text-align: center;">Start planning your next trip today</h2></div>
<hr>
<div style="text-align: center;"><a class="btn btn-default" href="/campgrounds"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> Get Started</a></div>
</div>


<%- include ('partials/footer') %>